@model Assignment2.Models.GradeModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Grade Calcurator";
    ViewBag.header = "Grade";
}


<body>
    <!--Grade Calculator that takes as input a percentage of each grade category listed in the syllabus-->
    <div class="under-element">
        <!--error message when the user put invalid numbers-->
        <div style="text-align:center">
            <div asp-validation-summary="All"></div>
        </div>
        <br />
        <br />
        <div class="box28" style="margin:0 auto; text-align: center">
            <span class="box-title">Grade Calculator</span>
            <p>
                Enter your grade percentage (0 to 100)
            </p>
            <div class="example2">
                <form asp-action="Grade" method="post">
                    <label>Assignments 50%</label>
                    <input asp-for="Assignment" size="4" autofocus />
                    <br />
                    <label>Group Project 10%</label>
                    <input asp-for="Group" size="4" />
                    <br />
                    <label>Quizzes 10%</label>
                    <input asp-for="Quizz" size="4" />
                    <br />
                    <label>Exams 20%</label>
                    <input asp-for="Exam" size="4" />
                    <br />
                    <label>INTEX 10%</label>
                    <input asp-for="Intex" size="4" />
                    <br />
                    <br />
                    <input type="submit" value="Calcurate" id="submit" />
                    <br />
                </form>
                <br />
                <br />
            </div>
        </div>
    </div>
</body>