@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Assignment #2";
    ViewBag.header = "Shun";
}




<body>

    <!--a picture of myself doing something I enjoy-->
    <div style="display: flex; justify-content: center;">
        <img src="~/image/fun.jpg" height="500" />
    </div>

    <br />
    <br />

    <div style="display: flex; justify-content: center;">
        <div class="example">
            <!--a paragraph on what I hope to get out of this IS 413 class-->
            <div class="box27">
                <span class="box-title">What I hope to get out of this IS 413</span>
                <p>
                    I hope to get solid skills and knowledge of <br />
                    Web developping. I wish I will develop my skills<br />
                    so that I can work at IT company as a engineer <br />
                    next summer.
                </p>
            </div>
            <!--a list of the top 3 jobs-->
            <div class="box27">
                <span class="box-title">Top 3 most interested jobs</span>
                <p>
                    <ul>
                        <li>Software Engineer</li>
                        <li>Web Developer</li>
                        <li>Marketer</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

</body>

